body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}
.namehighlight{
    color: orange;
}
.halfwidth{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.halfwidth img{
    width: 100%;
}